.page-width {
	@apply ts:md:!px-12 ts:!px-8;
}
.text-align {
  text-align: var(--text-align);
}
.custom-section {
	@apply ts:xl:py-[var(--padding-xl)] ts:lg:py-[var(--padding-lg)] ts:md:py-[var(--padding-md)] ts:py-[var(--padding-sm)] ts:px-0 ts:overflow-hidden;
}
.button {
	@apply ts:text-xs ts:leading-none ts:md:min-w-[17.5rem] ts:min-w-[14rem] ts:hover:!text-[rgba(var(--color-foreground))] ts:hover:!bg-[rgba(var(--color-background))] ts:hover:after:!shadow-none;
}
body.page--index .section-header,
body.page--index .section-header .header-wrapper,
body.page--index .section-header .header__heading-logo,
body.page--index .section-header .list-menu__item,
body.page--index .section-header .header__active-menu-item,
body.page--index .section-header .header__icon {
	@apply ts:xl:!transition-all ts:xl:!delay-300 ts:xl:!ease-linear;
}
.header {
	@apply ts:transition-all ts:delay-300 ts:ease-in-out;
}
.scrolled-past-header header.header {
	@apply ts:!py-[0.8rem] ts:!px-5;
}
.header__menu-item {
	@apply ts:px-6 ts:uppercase;
}
.header__menu-item.menu-item--sale {
	@apply ts:!text-[#DA0000];
}
.header__icon .icon {
	@apply ts:w-12 ts:h-12;
}
body.page--index .section-header {
	@apply ts:xl:fixed ts:xl:w-full ts:xl:top-[3.6rem];
}
body.page--index .section-header.scrolled-past-header {
	@apply ts:xl:top-0;
}
body.page--index .section-header:not(.scrolled-past-header) .header-wrapper {
	@apply ts:xl:bg-transparent;
}
body.page--index .section-header:not(.scrolled-past-header) .header__heading-logo {
	@apply ts:xl:invert-100;
}
body.page--index .section-header:not(.scrolled-past-header) .list-menu__item,
body.page--index .section-header:not(.scrolled-past-header) .header__active-menu-item,
body.page--index .section-header:not(.scrolled-past-header) .header__icon {
	@apply ts:xl:text-white;
}
.header__inline-menu .list-menu {
	@apply ts:xl:w-full ts:xl:justify-end ts:xl:px-6;
}
.menu-drawer__menu-item {
	@apply ts:!text-base ts:font-semibold ts:uppercase;
}

@media only screen and (min-width: 1200px) {
	.header.header--middle-left {
		grid-template-columns: auto 1fr auto;
	}
}

@media only screen and (max-width: 1199px) {
	.header.header--mobile-left {
		grid-template-areas: "heading  icons left-icons";
		grid-template-columns: auto 1fr auto;
	}
}